.article {
  &-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 25px 10px;
    min-height: 70px;

    & + & {
      border-top: 1px solid $color-divider;
    }

    &:hover {
      background-color: $color-article-hover;
      border-radius: $br-default;
    }

    @include media($phone) {
      padding: 15px 10px;
    }
  }

  &-image {
    width: 26px;
    font-size: 26px;
    margin-right: 15px;

    @include media($phone) {
      width: 22px;
      font-size: 22px;
      transform: scale(1.1);
    }
  }

  &-emoji {
    width: 26px;
    font-size: 26px;
    margin-right: 15px;

    @include media($phone) {
      width: 22px;
    }
  }

  &-title {
    font-weight: 500;

    @include media($tablet) {
      font-size: 16px;
    }
  }
}
