<a class="article-container" href="{{ article.url }}">
  {% if article.image %}
  <img
    class="article-image"
    src="{{ site.image_dir | append: article.image | absolute_url }}"
    alt=""
  />
  {% else %}
  <div class="article-image">{{ article.emoji }}</div>
  {% endif %}
  <div class="article-content">
    <h3 class="article-title">{{ article.title }}</h3>
    <span class="article-date">{{ article.date | date: "%d %B %Y" }}</span>
  </div>
  <div class="article-tags">
    {% for tag in article.tags %}
    <span class="article-tag">{{ tag }}</span>
    {% endfor %}
  </div>
  <span class="article-meta">
    {{ article.meta }}
  </span>
</a>
