.footer {
  background-color: $color-heading;
  color: white;
  margin-top: auto;

  &-container {
    @include container-element;
    @include media($tablet) {
      padding: 30px 15px;
    }
    text-align: center;
  }
}
