@mixin mobile-only-icon-switch {
  .no-mobile {
    @include media($sm-phone) {
      display: none;
    }
  }

  .mobile-only {
    display: none;

    @include media($sm-phone) {
      display: block;
    }
  }
}

.project {
  &-container {
    display: flex;
    padding: 25px 30px;
    align-items: center;
    margin: 0 -30px;

    & + & {
      border-top: 1px solid $color-divider;
    }

    @include media($tablet) {
      padding: 20px 0px;
      margin: 0;
    }
  }

  &-projectName {
    padding-right: 20px;
    @include media(680px) {
      width: auto;
    }
  }

  &-projectDescription {
    font-size: 14px;

    flex: 1 1;
    color: $color-grey-text;
    line-height: 1.5;
    font-weight: 500;

    @include media(680px) {
      order: 10;
      flex-basis: 100%;
      margin-top: 10px;
    }

    @include media($phone) {
      font-weight: 400;
      font-size: 14px;
    }

    &--home {
      @include media(680px) {
        display: none;
      }
    }
  }

  &-projectRepo {
    @include small-button($color-dark-button);
    @include mobile-only-icon-switch;
    margin-left: auto;

    @include media(680px) {
      margin-left: auto;
    }
  }

  &-projectDemo {
    @include small-button($color-highlight);
    @include mobile-only-icon-switch;
    margin-left: 10px;

    &:first-of-type {
      margin-left: auto;
    }
  }

  &-projectEmoji {
    font-size: 35px;
    margin-right: 30px;

    @include media($phone) {
      font-size: 20px;
    }
  }

  &-projectTitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    @include media($tablet) {
      font-size: 16px;
    }

    @include media(680px) {
      display: block;
    }
  }

  &-viewWriteup {
    color: var(--color-view-writeup-text);
    background-color: var(--color-view-writeup-bg);
    text-decoration: none;
    white-space: nowrap;
    display: block;
    margin-left: 10px;
    padding: 5px 8px;
    border-radius: $br-default;
    font-size: 14px;

    &:hover {
      background-color: var(--color-view-writeup-bg--hover);
    }

    @include media(680px) {
      margin-left: 0;
      margin-top: 5px;
      background-color: initial;
      padding: 0;

      &:hover {
        background-color: initial;
        text-decoration: underline;
      }
    }
  }
}
