.homeProjects {
  &-list {
  }

  &-heading {
    @include section-heading;
    display: flex;
    align-items: center;
  }

  &-viewMore {
    @include small-button($color-light-grey, $color-light-button-text);
    margin-left: 15px;
    line-height: 1.6;
  }
}
