@mixin mobile-only-icon-switch {
  .no-mobile {
    @include media($sm-phone) {
      display: none;
    }
  }

  .mobile-only {
    display: none;

    @include media($sm-phone) {
      display: block;
    }
  }
}

.homeProjects {
  &-list {
  }

  &-heading {
    @include section-heading;
    display: flex;
    align-items: center;
  }

  &-viewMore {
    @include small-button($color-light-grey, $color-subheading);
    margin-left: 15px;
    line-height: 1.6;
  }

  &-project {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    align-items: center;

    & + & {
      border-top: 1px solid $color-light-grey;
    }

    @include media(680px) {
      padding: 15px 10px;
    }
  }

  &-projectName {
    width: 200px;
    margin-right: 15px;
    display: flex;
    align-items: center;

    @include media(680px) {
      width: auto;
    }
  }

  &-projectDescription {
    flex: 1 1;
    color: $color-subheading;
    line-height: 1;
    font-weight: 500;

    @include media(680px) {
      display: none;
    }
  }

  &-projectRepo {
    @include small-button($color-subheading);
    @include mobile-only-icon-switch;
    margin-left: 10px;

    @include media(680px) {
      margin-left: auto;
    }
  }

  &-projectDemo {
    @include small-button($color-highlight);
    @include mobile-only-icon-switch;
    margin-left: 10px;
  }

  &-projectEmoji {
    font-size: 26px;
    margin-right: 15px;

    @include media($phone) {
      font-size: 20px;
    }
  }

  &-projectTitle {
    font-weight: 500;

    @include media($tablet) {
      font-size: 16px;
    }
  }
}
