.hero {
  &-container {
    display: flex;
    align-items: center;
    padding: 60px 0 120px;

    @include media($tablet) {
      flex-direction: column;
      padding: 100px 0 130px;
    }

    @include media($phone) {
      padding: 100px 0;
    }
  }

  &-image {
    display: block;
    height: 300px;

    @include media($tablet) {
      display: none;
    }
  }

  &-content {
    margin-left: 60px;

    @include media($tablet) {
      margin-left: initial;
    }
  }

  &-title {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 5px;

    @include media($tablet) {
      font-size: 36px;
    }
  }

  &-subtitle {
    color: $color-subheading;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 10px;

    @include media($tablet) {
      font-size: 24px;
    }
  }

  &-socialButtonsContainer {
    display: flex;
  }

  &-socialButton {
    @include social-button-default;

    &--twitter {
      @include social-button-bg-color(#49a0eb);
    }

    &--github {
      @include social-button-bg-color($color-dark-button);
    }
  }

  &-socialIcon {
    @include social-icon-default;
  }
}
