@mixin social-button-bg-color($bg-color) {
  background-color: $bg-color;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.hero {
  &-container {
    display: flex;
    align-items: center;
    padding: 100px 0 160px;
  }

  &-image {
    display: block;
    height: 300px;
  }

  &-content {
    margin-left: 60px;
  }

  &-title {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &-subtitle {
    color: $color-subheading;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &-socialButtonsContainer {
    display: flex;
  }

  &-socialButton {
    text-decoration: none;
    line-height: 1;
    display: flex;
    font-size: 12px;
    padding: 5px;
    color: white;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;

    & + & {
      margin-left: 10px;
    }

    &--twitter {
      @include social-button-bg-color(#49a0eb);
    }

    &--github {
      @include social-button-bg-color($color-subheading);
    }
  }

  &-socialIcon {
    margin-right: 5px;
    font-size: 14px;
  }
}
