.postHeader {
  &-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-divider;

    @include media(690px) {
      flex-direction: column-reverse;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 15px;

    @include media($phone) {
      font-size: 26px;
    }
  }

  &-image {
    height: 120px;
    max-width: 160px;
    object-position: top;
    object-fit: contain;
    margin-left: 30px;

    @include media(690px) {
      margin: 0 0 20px;
      height: 50px;
      object-position: left;
      width: auto;
    }
  }

  &-avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: $br-max;
    margin-right: 10px;
  }

  &-meta {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &-metaDivider {
    display: inline-block;
    margin: 0 8px;
  }

  &-shareButton {
    text-decoration: none;
    color: $color-body;
    display: inline-block;
    font-size: 16px;
    border: 0;
    font-family: 'Montserrat';
    cursor: pointer;
    font-weight: 500;
    margin: -5px;
    padding: 5px;
    border-radius: $br-default;
    background: transparent;

    &:hover {
      background-color: $color-tertiary;
      color: white;
    }
  }

  &-shareButtonIcon {
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
  }

  &-time {
    font-size: 16px;
    letter-spacing: -0.25px;
  }

  &-tag {
    @include small-button($color-highlight);
    display: inline-block;
    margin: 0 10px 10px 0;
    text-transform: capitalize;
  }

  &-emoji {
    font-size: 120px;
    margin-left: 30px;

    @include media($phone) {
      margin: 0 0 20px;
      height: 50px;
      font-size: 50px;
      width: auto;
    }
  }

  &-siteUrl,
  &-pageUrl {
    display: none;
  }
}
