* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $color-background;
}

main {
  @include container-element;
  color: $color-body;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-heading;
  line-height: 1.2;
}
