* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.6;
}

body {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.experimental-on {
    .is-experimental {
      display: block;
    }
  }
}

main {
  @include container-element;
  color: $color-body;
  padding-bottom: $section-default-spacing;
}

h3 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-heading;
  line-height: 1.2;
}

.is-experimental {
  display: none;
}
