@mixin container-element {
  max-width: 950px;
  margin: auto;
  padding: 30px;
}

@mixin small-button($bg-color, $font-color: $color-highlight-text) {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: $font-color;
  background-color: $bg-color;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin section-heading {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 28px;
}
