@mixin container-element {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 30px;

  @include media($phone) {
    padding: 15px;
  }
}

@mixin small-button($bg-color, $font-color: $color-highlight-text) {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: $br-default;
  color: $font-color;
  background-color: $bg-color;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin section-heading {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 28px;

  @include media($tablet) {
    font-size: 24px;
  }

  @include media($phone) {
    font-size: 24px;
  }
}

@mixin media($sizing) {
  @media (max-width: $sizing) {
    @content;
  }
}

@mixin viewMore-button {
  @include small-button($color-light-grey, $color-light-button-text);
  background-color: $color-viewMore-bg;
  color: $color-viewMore-text;
  margin-left: 15px;
  line-height: 1.6;

  &:hover {
    background-color: $color-viewMore-bg--hover;
  }
}

$tablet: 768px;
$phone: 460px;
$sm-phone: 380px;
