@mixin article-code-styling {
  h5 {
    /**
     ** Used for displaying the filename of code snippets.
     **/
    background-color: $color-code-file-label;
    padding: 10px $post-code-spacing;
    border-radius: $br-default $br-default 0 0;
    color: $color-highlight-text;
    margin-top: $post-default-spacing;
    position: relative;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    position: relative;

    + pre[class*='language-'] {
      border-radius: 0 0 $br-default $br-default;
      border: 1px solid $color-code-file-label;
    }

    &::after {
      /**
       ** Used to display a bottom border on dark mode.
       **/
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: calc(100% - 2px);
      background-color: $color-border-code-file-label;
      z-index: 10;
    }
  }

  .copyButton {
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 15px;
    background-color: initial;
    font-size: 14px;
    color: $color-highlight-text;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: $br-default;
    font-weight: 500;
    opacity: 0.5;
    transition: 250ms;
    font-family: 'Montserrat';
    text-shadow: initial !important;

    &-icon {
      font-size: 18px;
      display: block;
      margin-left: 10px;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      opacity: 1;
    }

    @include media($tablet) {
    }
  }

  .codeLabel {
    /**
     ** Display the language of the code displayed in code block.
     **/
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $color-code-language-label-bg;
    color: white;
    padding: 5px 8px;
    border-radius: $br-default;
    font-weight: 500;
    font-size: 14px;
    opacity: 0;
    transition: 250ms;
    font-family: 'Montserrat';
    text-shadow: initial !important;

    @include media($tablet) {
      top: 10px;
      right: 10px;
    }
  }

  code:not([class*='language-']) {
    padding: 3px 5px;
    position: relative;
    background-color: $color-code-bg;
    border-radius: $br-default;
    border: 1px solid $color-code-border;
    overflow: hidden; // Used to stop child element from cutting through curved border.
  }

  pre[class*='language-'] {
    //* Code for outer block
    position: relative;
    background-color: $color-code-bg !important; //change
    padding: $post-code-spacing !important;
    margin: 0 !important;
    font-size: 12px !important;
    margin-bottom: $post-default-spacing !important;
    border-radius: $br-default;
    border: 1px solid $color-code-border;

    @include media($tablet) {
      padding: 15px;
    }

    .token {
      background: transparent;
    }

    &:hover {
      .codeLabel {
        opacity: 0.8;
      }
    }

    &.language-console {
      /**
       ** Adding extra padding to the bottom of the browser window
       */
      padding-bottom: 60px !important;
    }
  }

  code {
    &[class*='language-'] {
      &.language-console {
        /**
          ** Styling for the 'browser view' snippet
         **/
        font-family: $system-font !important;
        font-size: 16px !important;
      }
    }
  }

  pre.language-bash,
  pre.language-console {
    /**
     ** Browser/console view - showing 3 mac buttons top left
     */

    padding-top: 30px + 20px !important;
    position: relative;
    &::before {
      left: 0;
      top: 0;
      position: absolute;
      letter-spacing: 8px;
      content: '\2022 \2022 \2022';
      font-size: 20px;
      padding: 0 20px;
      width: 100%;
      background-color: $color-console-header-bg;
      color: #cccccc;

      @include media($phone) {
        padding: 9px 0 21px 10px;
      }
    }
  }

  pre.language-console::after {
    /**
     ** Simulating search bar for browser view
     **/

    content: '';
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 40%;
    border-radius: 5px;
    background-color: #cccccc;
  }
}
