html {
  --color-background: #fcfcff;
  --color-heading: #2d3748;
  --color-subheading: #4a5568;
  --color-body: #444444;
  --color-code-bg: #f9f9ff;
  --color-code-border: rgba(74, 85, 104, 0.1);
  --color-footer: var(--color-heading);
  --color-article-hover: #eeeeee;
  --color-highlight-container-bg: #{$color-highlight-light};
  --color-code-file-label: #2d3748;
  --color-code-language-label-bg: #2d3748;
  --color-divider: #{$color-light-grey};
  --color-border-code-file-label: transparent;
  --color-console-header-bg: #{$color-light-grey};
  --color-viewMore-bg: #{$color-light-grey};
  --color-viewMore-text: #{$color-light-button-text};
  --color-viewMore-bg--hover: #d5d5d5;
  --color-header-shadow: #{$color-light-grey};
  --color-tooltip-icon-background: #fcfcff;
  --color-tooltip-icon-border: #{rgba($color-highlight, 0.5)};
  --color-tooltip-icon-text: #{$color-highlight};
  --color-tag-bg: #eee;
  --color-tag-text: #333;
  --color-search-background: #{$color-white};
  --color-search-border: #{$color-light-grey};
  --color-search-placeholder: #{$color-grey-text};
  --color-view-writeup-text: #{$color-tertiary};
  --color-view-writeup-bg: #{lighten($color-tertiary, 35%)};
  --color-view-writeup-bg--hover: #{lighten($color-tertiary, 30%)};
}

html.dark-mode {
  --color-background: #333544;
  --color-heading: #fff;
  --color-subheading: #ddd;
  --color-body: #ccc;
  --color-code-bg: #333340;
  --color-footer: #{$color-darkest-blue};
  --color-article-hover: #{$color-dark-blue};
  --color-highlight-container-bg: #{$color-darkest-blue};
  --color-code-file-label: #{$color-darkest-blue};
  --color-code-language-label-bg: #{$color-darkest-blue};
  --color-code-border: #{$color-dark-blue};
  --color-console-header-bg: #{$color-dark-blue};
  --color-divider: #556;
  --color-border-code-file-label: #ddd;
  --color-viewMore-bg: #{$color-dark-blue};
  --color-viewMore-text: white;
  --color-viewMore-bg--hover: #{$color-darkest-blue};
  --color-header-shadow: #{$color-darkest-blue};
  --color-tooltip-icon-background: #112;
  --color-tooltip-icon-border: #{$color-highlight};
  --color-tooltip-icon-text: #{$color-highlight};
  --color-tag-bg: #223;
  --color-tag-text: #fff;
  --color-search-background: #{$color-dark-blue};
  --color-search-border: #{$color-darker};
  --color-view-writeup-text: var(--color-tag-text);
  --color-view-writeup-bg: var(--color-tag-bg);
  --color-view-writeup-bg--hover: var(--color-tooltip-icon-background);
}
