html {
  --color-background: #fcfcff;
  --color-heading: #2d3748;
  --color-subheading: #4a5568;
  --color-body: #555555;
  --color-code-bg: #f9f9ff;
  --color-code-border: rgba(74, 85, 104, 0.1);
  --color-footer: var(--color-heading);
  --color-article-hover: #eeeeee;
  --color-highlight-container-bg: #{lighten($color-tertiary, 35%)};
  --color-code-file-label: #2d3748;
  --color-code-language-label-bg: #2d3748;
  --color-divider: #{$color-light-grey};
  --color-border-code-file-label: transparent;
  --color-console-header-bg: #{$color-light-grey};
  --color-viewMore-bg: #{$color-light-grey};
  --color-viewMore-text: #{$color-light-button-text};
  --color-viewMore-bg--hover: #d5d5d5;
  --color-header-shadow: #{$color-light-grey};
}

html.dark-mode {
  --color-background: #333544;
  --color-heading: #fff;
  --color-subheading: #ddd;
  --color-body: #ccc;
  --color-code-bg: #333340;
  --color-footer: #{$color-darkest-blue};
  --color-article-hover: #{$color-dark-blue};
  --color-highlight-container-bg: #{$color-darkest-blue};
  --color-code-file-label: #{$color-darkest-blue};
  --color-code-language-label-bg: #{$color-darkest-blue};
  --color-code-border: #{$color-dark-blue};
  --color-console-header-bg: #{$color-dark-blue};
  --color-divider: #556;
  --color-border-code-file-label: #ddd;
  --color-viewMore-bg: #{$color-dark-blue};
  --color-viewMore-text: white;
  --color-viewMore-bg--hover: #{$color-darkest-blue};
  --color-header-shadow: #{$color-darkest-blue};
}
