$color-darkest: #2d3748;
$color-darker: #4a5568;
$color-dark: #555555;
$color-light-grey: #eeeeee;
$color-dark-button: #4a5568;
$color-light-button-text: #4a5568;
$color-highlight: #6246ea;
$color-highlight-text: #fffffe;
$color-secondary: #d1d1e9;
$color-tertiary: #e45858;
$color-darkest-blue: #223;
$color-dark-blue: #445;

$color-tertiary-light: lighten($color-tertiary, 35%);
$color-highlight-light: lighten($color-highlight, 30%);

$color-heading: var(--color-heading);
$color-subheading: var(--color-subheading);
$color-body: var(--color-body);
$color-background: var(--color-background);
$color-code-bg: var(--color-code-bg);
$color-code-border: var(--color-code-border);
$color-footer: var(--color-footer);
$color-article-hover: var(--color-article-hover);
$color-highlight-container-bg: var(--color-highlight-container-bg);
$color-code-file-label: var(--color-code-file-label);
$color-code-language-label-bg: var(--color-code-language-label-bg);
$color-console-header-bg: var(--color-console-header-bg);
$color-divider: var(--color-divider);
$color-border-code-file-label: var(--color-border-code-file-label);
$color-viewMore-text: var(--color-viewMore-text);
$color-viewMore-bg: var(--color-viewMore-bg);
$color-viewMore-bg--hover: var(--color-viewMore-bg--hover);
$color-header-shadow: var(--color-header-shadow);
