.testimonials {
  &-container {
  }

  &-item {
    list-style-type: none;
    padding: 30px 0;
    display: flex;

    & + & {
      border-top: 1px solid $color-divider;
    }

    @include media($phone) {
      border-top: 0 !important;
    }

    @include media($phone) {
      padding: 20px 0;
    }
  }

  &-name {
    margin-top: 10px;
    color: $color-tertiary;
    font-size: 18px;
    font-weight: 500;
    text-align: right;

    @include media($phone) {
      font-size: 18px;
    }
  }

  &-icon {
    font-size: 36px !important;
    margin-right: 30px;

    @include media($phone) {
      margin-right: 20px;
    }
  }

  &-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
