---
layout: default
---

<div class="projects-container">
  <div class="projects-section">
    <h2 class="projects-heading">Projects</h2>
    <ul class="projects-list">
      {% for project in site.data.projects %} {% if project.type == 'project' %}{% include project/project.html %} {%
      endif %}{% endfor %}
    </ul>
  </div>

  <div class="projects-section">
    <h2 class="projects-heading">Libraries</h2>
    <ul class="projects-list">
      {% for project in site.data.projects %} {% if project.type == 'package' %}{% include project/project.html %} {%
      endif %}{% endfor %}
    </ul>
  </div>

  <div class="projects-section">
    <h2 class="projects-heading">Client work</h2>
    <ul class="projects-list">
      {% for project in site.data.projects %} {% if project.type == 'client' %}{% include project/project.html %} {%
      endif %}{% endfor %}
    </ul>
  </div>
</div>
