@mixin header-text-config {
  font-size: 18px;
  font-weight: 500;

  @include media($phone) {
    font-size: 16px;
  }
}

.header {
  height: 120px;

  @include media($phone) {
    height: 72px;
  }

  &-container {
    position: fixed;
    width: 100%;
    background-color: $color-background;
    transition: 250ms;

    &--mini {
      box-shadow: 2px 2px 8px $color-light-grey;
    }
  }

  &-content {
    @include container-element;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    transition: 250ms;

    @include media($phone) {
      height: auto;
      padding: 20px 15px;
    }

    &--mini {
      height: 72px;
      padding: 20px 30px;

      @include media($phone) {
        height: auto;
        padding: 10px 15px;
      }
    }
  }

  &-branding {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &-brandingLogo {
    font-size: 24px;
    margin-right: 15px;
  }

  &-brandingText {
    @include header-text-config;
    @include media($tablet) {
      display: none;
    }
  }

  &-nav {
    @include media($tablet) {
      flex: 1 1 100%;
      display: flex;
      justify-content: space-around;
    }
  }

  &-navLink {
    display: inline-block;
    margin-left: 60px;
    text-decoration: none;
    color: $color-body;
    @include header-text-config;

    &:hover {
      color: $color-highlight;
    }

    @include media($tablet) {
      margin-left: 0;
    }
  }
}
