@mixin header-text-config {
  font-size: 18px;
  font-weight: 500;

  @include media($phone) {
    font-size: 16px;
  }
}

@mixin header-emoji {
  font-size: 24px;

  @include media($tablet) {
    font-size: 20px;
  }
}

@mixin set-horizontal-spacing($spacing) {
  & + & {
    margin-left: $spacing;
  }
}

.header {
  height: 120px;

  @include media($phone) {
    height: 72px;
  }

  &-container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: $color-background;
    transition-property: box-shadow;
    transition-duration: 400ms;

    &--mini {
      box-shadow: 2px 2px 8px $color-light-grey;
    }
  }

  &-content {
    @include container-element;
    display: flex;
    align-items: center;
    height: 120px;
    transition-property: height, padding;
    transition-duration: 400ms;

    @include media($phone) {
      height: auto;
      padding: 20px 15px;
    }

    &--mini {
      height: 62px;
      padding: 0 30px;

      @include media($phone) {
        height: auto;
        padding: 15px;
      }
    }
  }

  &-branding {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &-brandingLogo {
    margin-right: 15px;
    @include header-emoji;
  }

  &-brandingText {
    @include header-text-config;
    @include media($tablet) {
      display: none;
    }
  }

  &-nav {
    margin-left: auto;
    @include media($tablet) {
      flex: 1 1 100%;
      display: flex;
      justify-content: center;
    }
  }

  &-navLink {
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    color: $color-body;
    @include header-text-config;

    &:hover {
      color: $color-highlight;
    }

    @include media($tablet) {
      margin-left: 0;
      @include set-horizontal-spacing(45px);
    }

    @include media($phone) {
      @include set-horizontal-spacing(20px);
    }

    @include media(370px) {
      font-size: 14px;
    }
  }

  &-darkModeSwitch {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 50px;

    @include header-emoji;

    @include media($tablet) {
      margin-left: 15px;
    }
  }
}
