.header {
  &-container {
    @include container-element;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-branding {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &-brandingLogo {
    font-size: 24px;
    margin-right: 15px;
  }

  &-brandingText {
    font-size: 18px;
    font-weight: 500;
  }

  &-nav {
  }

  &-navLink {
    display: inline-block;
    margin-left: 60px;
    text-decoration: none;
    color: $color-body;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: $color-highlight;
    }
  }
}
