<div class="header-container">
  <div class="header-content">
    <a href="/" class="header-branding">
      <img src="{{ 'shuttle.svg' | absolute_url }}" class="header-brandingLogo" alt=""></img>
      <h2 class="header-brandingText">Daniel Cornock</h2>
    </a>

    <nav class="header-nav">
      {% for page in site.data.navigation %}
      <a href="{{ page.link }}" class="header-navLink">{{ page.name }}</a>
      {% endfor %}
    </nav>
    <button class="header-darkModeSwitch" id="themeSwitch">🌙</button>
  </div>
</div>
