<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-140387372-2"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-140387372-2');
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %} {% if page.meta %}
<meta name="keywords" content="{{ page.meta }}" />
{% else %}
<meta
  name="keywords"
  content="Software Programming Development Javascript Web"
/>
{% endif %}
<meta name="author" content="Daniel Cornock" />
<link rel="stylesheet" href="{{ "assets/styles/index.css" | absolute_url }}" />
<meta name="theme-color" content="#6246ea" />
<link
  rel="shortcut icon"
  type="image/png"
  href="{{ 'favicon.png' | absolute_url }} "
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<title>
  {% if page.title %} {{ page.title }} |{% endif %} Daniel Cornock
</title>
<script src="{{ 'assets/scripts/pre-theme-switcher.js' | absolute_url }}"></script>
