.articles {
  &-heading {
    @include section-heading;
    margin-bottom: 20px;
  }

  &-header {
    margin-bottom: 20px;
  }

  &-search {
    padding: 10px 15px;
    width: 100%;
    max-width: 450px;
    font-size: 16px;
    border-radius: $br-default $br-default;
    border: 0;
    outline: none;
    border: 2px solid $color-light-grey;
    font-family: 'Montserrat';
    color: $color-heading;

    &:focus {
      border-color: $color-highlight;
    }

    @include media($phone) {
      width: 100%;
    }
  }

  &-list {
    @include article-detailed;
  }

  &-noArticles {
    display: none;
    font-weight: 500;
    font-size: 18px;

    &.show {
      display: block;
    }
  }
}
