.articles {
  &-heading {
    @include section-heading;
    margin-bottom: 0;

    @include media($tablet) {
      margin-bottom: 20px;
    }
  }

  &-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media($tablet) {
      display: block;
      margin-bottom: 20px;
    }
  }

  &-search {
    background-color: $color-search-background;
    padding: 10px 15px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    border-radius: $br-default $br-default;
    outline: none;
    border: 2px solid $color-search-border;
    font-family: 'Montserrat';
    color: $color-heading;

    &:focus {
      border-color: $color-highlight;
    }

    &::placeholder {
      color: $color-search-placeholder;
    }

    @include media($tablet) {
      width: 100%;
      max-width: initial;
    }
  }

  &-list {
    @include article-detailed;
  }

  &-noArticles {
    display: none;
    font-weight: 500;
    font-size: 18px;

    &.show {
      display: block;
    }
  }
}
