---
layout: default
---

<div class="articles-container">
  <div class="articles-section">
    <header class="articles-header">
      <h2 class="articles-heading">Articles</h2>
      <input
        class="articles-search"
        type="text"
        id="articleSearchInput"
        placeholder="Filter articles"
      />
    </header>
    <div class="articles-list">
      {% for article in site.posts %} {% include article/article.html %} {%
      endfor %}
    </div>
    <p class="articles-noArticles">
      No matches found!
    </p>
  </div>
</div>

<script src="{{ 'assets/scripts/site-search.js' | absolute_url }}"></script>
