.about {
  &-container {
    p {
      font-weight: 400;
      color: $color-body;
      line-height: 1.9;
      font-size: 18px;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include media($tablet) {
        font-size: 16px;
      }
    }
  }

  &-heading {
    @include section-heading;
    margin-bottom: 0;
  }

  &-testimonialsContent {
    margin-top: 25px;
  }

  &-section {
    & + & {
      margin-top: $section-default-spacing;
    }
  }

  &-linksContainer {
    margin-top: 20px;
    display: flex;
  }

  &-content {
    margin-top: 25px;

    @include media($phone) {
      margin-top: 20px;
    }

    img {
      height: 230px;
      border-radius: $br-default;
      float: right;
      margin: 10px 30px 10px 30px;
      display: block;

      @include media($phone) {
        display: none;
      }
    }
  }

  &-socialButton {
    @include social-button-default;
    padding: 10px 12px;

    &--linkedin {
      @include social-button-bg-color(#0e76a1);
    }

    &--cv {
      @include social-button-bg-color($color-tertiary);
    }
  }

  &-socialIcon {
    @include social-icon-default;
  }

  &-socialName {
    font-size: 14px;
  }
}
