---
layout: default
---

<div class="about-container">
  <div class="about-section">
    <h2 class="about-heading">About me</h2>
    <div class="about-content">
      {{ content }}
    </div>
    <div class="about-linksContainer">
      <a
        class="about-socialButton about-socialButton--linkedin"
        href="https://www.linkedin.com/in/danielcornock/"
        rel="noreferrer"
        rel="noopener"
        target="_blank"
      >
        <div class="about-socialIcon"><i class="fab fa-linkedin-in"></i></div>
        <span class="about-socialName">Daniel Cornock</span>
      </a>
      <a
        class="about-socialButton about-socialButton--cv"
        href="{{ 'assets/files/cv.pdf' | absolute_url }}"
      >
        <div class="about-socialIcon"><i class="far fa-file-alt"></i></div>
        <span class="about-socialName">Download CV</span>
      </a>
    </div>
  </div>
  <div class="about-section">
    <div class="about-experience">
      <h2 class="about-heading">Experience</h2>
      {% include about/experience/experience.html %}
    </div>
  </div>
  <div class="about-section">
    <div class="about-testimonials">
      <h2 class="about-heading">Testimonials</h2>
      {% include testimonials/testimonials.html %}
    </div>
  </div>
</div>
