---
layout: default
---

<div class="about-container">
  <div class="about-section">
    <h2 class="about-heading">About me</h2>
    <div class="about-content">
      {{ content }}
    </div>
  </div>
  <div class="about-section">
    <div class="about-experience">
      <h2 class="about-heading">Experience</h2>
      <ul>
        {% for experience in site.data.experience %}
        <li class="experience-item">
          <p class="experience-icon">{{ experience.icon }}</p>
          <div class="experience-details">
            <span class="experience-institution">{{ experience.institution }}</span>
            <h3 class="experience-position">{{ experience.position }}</h3>
            <p class="experience-description">
              {{ experience.description}}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
