<!DOCTYPE html>
<html lang="en" class="light-mode">
  <head>
    {% include header/head.html %}
  </head>
  <body>
    <header class="header">
      {% include header/header.html %}
    </header>
    <main class="main">
      {{ content }}
    </main>
    <footer class="footer">
      {% include footer/footer.html %}
    </footer>
    <script src="{{ 'assets/scripts/prism.js' | absolute_url }}"></script>
    <script src="{{ 'assets/scripts/scroll-spy.js' | absolute_url }}"></script>
    <script src="{{ 'assets/scripts/code-snippets.js' | absolute_url }}"></script>
    <script src="{{ 'assets/scripts/theme-switcher.js' | absolute_url }}"></script>
    <script src="{{ 'assets/scripts/copy-code.js' | absolute_url }}"></script>
    <script src="{{ 'assets/scripts/experimental-switch.js' | absolute_url }}"></script>
    <script src="{{ 'assets/scripts/index.js' | absolute_url }}"></script>
  </body>
</html>
