---
layout: default
---

<div class="nan-container">
  <div class="nan-front">
    <h2 class="nan-frontText">
      HAPPY BIRTHDAY NAN!
    </h2>
    <button class="nan-button" id="open">Click to open card</button>
  </div>
  <div class="nan-content">
    <p class="nan-text">
      To Nanny Annie,
      <br /><br>
      <h2>HAPPY BIRTHDAY!
      </h2>

      <br />
      I hope you have a wonderful day! I'm sorry I can't be with you but I'm looking forward to when we can see each other again! 🙂♥️

      <br /><br /><br />
      Lots of love, from Dan xxxxxx
    </p>
    <button class="nan-button" id="close">Close card</button>
  </div>
</div>

<script>
  document.querySelector('#open').addEventListener('click', () => {
    // document.querySelector('.nan-front').classList.add('hidden');
    document.querySelector('.nan-content').classList.add('display');
  });

  document.querySelector('#close').addEventListener('click', () => {
    document.querySelector('.nan-content').classList.remove('display');
  })

  document
</script>
