$post-default-spacing: 30px;

.post {
  &-container {
  }

  &-header {
    display: flex;
    justify-content: space-between;
    border-radius: $br-default;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $color-light-grey;
  }

  &-title {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 15px;

    @include media($phone) {
      font-size: 26px;
    }
  }

  &-image {
    height: 120px;
    width: 120px;
    object-fit: contain;
    border-radius: $br-default;
    margin-left: 30px;

    @include media($phone) {
      display: none;
      height: 80px;
      width: 80px;
    }
  }

  &-avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: $br-max;
    margin-right: 10px;
  }

  &-meta {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &-metaDivider {
    display: inline-block;
    margin: 0 8px;
  }

  &-shareButton {
    text-decoration: none;
    color: $color-body;
    display: inline-block;
    margin: -5px;
    padding: 5px;
    border-radius: $br-default;

    &:hover {
      background-color: $color-tertiary;
      color: white;
    }
  }

  &-shareButtonIcon {
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
  }

  &-time {
    font-size: 16px;
    letter-spacing: -0.25px;
  }

  &-tags {
  }

  &-tag {
    @include small-button($color-highlight);
    display: inline-block;
    margin-right: 10px;
    text-transform: capitalize;
  }

  &-content {
    img {
      width: 100%;
      margin-bottom: 5px;
    }

    figure {
      margin-bottom: $post-default-spacing;
    }

    figcaption {
      font-size: 14px;
      color: #777;
    }

    h2,
    h3 {
      margin-top: 40px;
      margin-bottom: 15px;
      color: $color-subheading;
    }

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 22px;
    }

    p {
      font-weight: 400;
      color: $color-body;
      line-height: 1.8;
      font-size: 18px;
      margin-bottom: $post-default-spacing;
    }

    a {
      color: $color-tertiary;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .highlighter-rouge {
      background-color: #eee;
      border-radius: 5px;
    }

    div.highlighter-rouge {
      overflow-x: auto;
      padding: 20px;
      margin-bottom: $post-default-spacing;
    }

    code.highlighter-rouge {
      padding: 3px 5px;
    }

    blockquote {
      border-left: 5px solid $color-tertiary;
      background-color: lighten($color-tertiary, 35%);
      padding: 10px 20px;
      border-radius: 0 $br-default $br-default 0;
      margin-bottom: $post-default-spacing;
      p {
        margin-bottom: 0;
      }
    }
  }
}
