$post-default-spacing: 20px;
$post-large-spacing: 30px;
$post-font-size: 16px;
$post-header-margin-top: 40px;
$post-code-spacing: 20px;
$post-header-margin-bottom: 15px;
$post-header-margin-bottom--mobile: 10px;

.post {
  &-headerList {
    position: fixed;
    padding: 20px 50px 20px 20px;
    bottom: 30px;
    left: 0;
    transform: translateX(-100%);
    border: 2px solid $color-tertiary;
    transition: transform 250ms;
    border-radius: $br-default;
    background-color: $color-background;
    z-index: 5000;

    @include media(1100px) {
      display: none;
    }

    &::after {
      position: absolute;
      content: '🔍';
      padding: 20px;
      font-size: 30px;
      left: 100%;
      bottom: 0;
      background-color: $color-tertiary;
      border-radius: $br-default;
    }

    &:hover {
      transform: translateX(0%);
    }
  }

  &-headerListTitle {
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-divider;
    color: $color-subheading;
    font-weight: 500;
    font-size: 20px;
  }

  &-headerLink {
    display: block;

    & + & {
      margin-top: 20px;
    }

    &--indented {
      margin-left: 20px;
    }
  }

  &-content {
    @include article-code-styling;
    position: relative;

    img {
      width: 100%;
      margin-bottom: 5px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: $br-default;
    }

    figure {
      margin-bottom: $post-default-spacing;
    }

    figcaption {
      font-size: 14px;
      color: #777;
    }

    h2,
    h3,
    h4 {
      margin-top: $post-header-margin-top;
      margin-bottom: $post-header-margin-bottom;
      color: $color-subheading;

      @include media($phone) {
        margin-bottom: $post-header-margin-bottom--mobile;
      }
    }

    h2 {
      font-size: 26px;
      margin-top: 50px;

      @include media($tablet) {
        margin-top: $post-header-margin-top;
        font-size: 24px;
      }
    }

    h3 {
      font-size: 22px;
      margin-top: 45px;

      @include media($tablet) {
        font-size: 18px;
        margin-top: $post-header-margin-top;
      }
    }

    h4 {
      font-size: 20px;
      color: $color-body;

      @include media($tablet) {
        font-size: 16px;
      }
    }

    p {
      font-weight: 400;
      color: $color-body;
      line-height: 1.9;
      font-size: $post-font-size;
      margin-bottom: $post-default-spacing;

      & + ul,
      & + ol {
        margin-top: -10px;
      }
    }

    a {
      color: $color-tertiary;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul,
    ol {
      list-style-position: outside;
      margin: $post-default-spacing 0 $post-large-spacing 40px;

      @include media($phone) {
        margin-left: 20px;
      }
    }

    li {
      font-size: $post-font-size;
      margin-bottom: 10px;
      line-height: 1.9;
    }

    figure {
      margin: 30px 0;
    }

    blockquote {
      border: 2px solid $color-tooltip-icon-border;
      background-color: $color-highlight-container-bg;
      padding: 15px $post-default-spacing;
      border-radius: $br-default;
      margin: $post-default-spacing 0;
      position: relative;

      p {
        margin-bottom: 0;
      }

      &::after {
        //de-activated
        position: absolute;
        height: 30px;
        width: 30px;
        font-size: 16px;
        border-color: $color-highlight;
        border: 2px solid $color-tooltip-icon-border;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        color: $color-tooltip-icon-text;
        background-color: $color-tooltip-icon-background;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $br-max;

        @include media($phone) {
          display: none;
        }
      }
    }
  }
}
