$color-heading: #2b2c34;
$color-subheading: #2b2c34;
$color-body: #2b2c34;
$color-highlight: #6246ea;
$color-highlight-text: #fffffe;
$color-secondary: #d1d1e9;
$color-tertiary: #e45858;
$color-background: #fffffe;
